site_name: "{{ package_name }}"
site_description: "{{ package_description }}"

theme:
  name: material

markdown_extensions:
  - pymdownx.snippets:
      base_path: ["."]

nav:
  - Home: index.md
  - Installation: installation.md
  - Development: development.md
  - Publishing: publishing.md
