{
  "name": "{{ package_name }}",
  "version": "0.0.0-semantically-released",
  "private": true,
  "repository": {
    "type": "git",
    "url": "https://github.com/{{ package_github_org }}/{{ package_name }}.git"
  }
}
